@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Clase 2</h1>
    <p>En la segunda clase se vio un poco de boostrap y estamos viendo vistas parciales para poder reutilizar codigo,
        que comunmente se aloja en la carpera Shared y son los layout, que comunmente que inicia con un _</p>
</div>


<!--Con la etiqueta parcial podemos utilizar codigo de otras paginas que son  las vistas parciales para reutilizar codigo   -->
<partial name="_Formulario"></partial>


@*

*@